[default]
aws_access_key_id = {{ aws_access_key() }}
aws_secret_access_key = {{ base64(40) }}
region = us-east-1
output = json

[production]
aws_access_key_id = {{ aws_access_key() }}
aws_secret_access_key = {{ base64(40) }}
region = us-west-2
output = json
